@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('//db.onlinewebfonts.com/c/796e2db2256ddfab47394211f41ac410?family=Acumin+Pro');
@import url('https://fonts.googleapis.com/css2?family=Inter');

.header {
  background-image: url('images/background_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body {
  margin: 0;
  margin-right: 0;
}

.hamBtn {
  padding: 1rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.greet {
  color: #f16f44;
  margin-bottom: 1px;
}

.ZaTech {
  font-size: 95px;
  margin-top: -4px;
  color: #fc1304;
}

.aboutZaTech {
  font-size: 20px;
  color: #6f6f6f;
  border: 5px solid #fff;
  padding: 2rem;
}

.date {
  font-size: 45px;
  color: #6f6f6f;
}

.loca {
  margin-top: -10px;
  color: #6f6f6f;
}

.mainPro {
  display: flex;
  flex-direction: column;
  background-image: url("images/pattern_reps.png");
  background-color: #282b34;
}

.main-title {
  color: #fff;
  text-align: center;
}

.line {
  border: 1px solid #953f37;
  width: 10%;
}

.program {
  display: flex;
  background-color: rgb(61, 64, 71, 0.7);
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem;
  padding: 1rem;
}

.ProgramTitle {
  color: #fb5138;
}

.title {
  padding: 1rem;
}

.programDescrip {
  color: #fff;
  /*width: 75%;*/
}

.descrip {
  margin-left: 1rem;
}

.summitBtn {
  color: #fff;
  width: 50%;
  align-self: center;
  margin-bottom: 1rem;
  background-color: #f16f44;
  border-style: none;
  height: 70px;
  font-size: 25px;
}

.feature-title {
  text-align: center;
}

.speakers {
  display: flex;
  flex-direction: column;
}

.speaker {
  display: flex;
  padding-left: 2rem;
  margin: 1rem;
  gap: 2rem;
}

.speakInfo {
  display: flex;
  padding-top: -1rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}

.speakerName {
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; ;
  color: #818181;
  margin-top: -0.1rem;
  margin-bottom: -1rem;
}

.speaker-pos {
  color: #f16f44;
  font-style: italic;
}

.small-line{
  margin-top: -0.5rem;
  width: 12%;
}

.speaker-des {
  margin-top: -0.5rem;
  color: #818181;
}

.mobile-menu {
  display: none;
  background-color: #3c3a39;
  width: 90%;
  margin-top: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  list-style: none;
  padding: 2rem;
}

.items {
  margin-top: 1rem;
}
  
.items a {
  text-decoration: none;
  color: #fff;
}
  
.items-line {
  width: 90%;
  margin-right: 60px;
  border: 1px solid #6f6c6b;
}

.menuPopUp {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 3rem;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
}